.row-fluid
  .span9
    #leaderboard
      Replace me with leaderboard ad
    %h1 Home#index
    .content
      %p Find me in app/views/home/index.html.haml
      - Faker::Lorem.paragraphs(5).each do |text|
        %p= text

  .span3
    #display
      Replace me with display ad
#Demo.site_code
